.main {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	min-height: calc(100vh - 160px);
	position: relative;
}
  
.description {
    display: inherit;
	position: absolute;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
	top: 0;
	left: -120px;
	top: 64px
}
  
.description a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
  
.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}
  
.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 24px;
	text-transform: uppercase;

	p {
		z-index: 100;
	}
}
  
.center::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
}
  
  .center::before,
  .center::after {
    content: '';
    left: 0;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  }
  
  