@import '@/styles/variables.scss';

.footer {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 64px;
    background-color: rgba($darkBlue, 0.15);
    font-family: var(--font-mono);
}

.left {
    font-size: 10px;
    margin-right: 64px;
    text-align: center;
    display: flex;
}

.right {
    font-size: 14px;
    width: 33%;
    text-align: right;
    text-decoration: underline;
}